.bio
  padding: 120px 0 80px
  &__inner
    display: flex
    justify-content: space-between
  &__left
    position: relative
    width: 50%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: end
    &.active
      .bio__day
        opacity: 1
        pointer-events: visible
        transform: rotate(382deg) scale(1)
  &__day
    font-family: Qibtiyah,sans-serif
    font-size: 36px
    //background-image: url(../img/Bio/tg2.jpg)
    //background-position: 600px 744px
    background: linear-gradient(to bottom, #ff9966, #ff5e62)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    z-index: 2
    position: absolute
    left: 0
    bottom: 35%
    opacity: 0
    pointer-events: none
    transform: rotate(22deg) translate(-75px, -281px) scale(.4)
    transition: 1s transform, .4s opacity
  &__content
    position: relative
    z-index: 10
    width: 60%
    display: flex
    flex-direction: column
    align-items: end
  &__name
    margin-bottom: 10px
    font-size: 36px
    color: #ffc155
    text-align: end
  &__position
    margin-bottom: 10px
    font-size: 20px
    letter-spacing: 1.5px
    color: $gray-light
    text-align: end
    font-style: italic
  &__experience
    margin-bottom: 30px
    font-size: 20px
    color: $gray-light
    letter-spacing: 1.5px
    font-style: italic
  &__info
    margin-bottom: 30px
    max-width: 390px
    width: 100%
    color: $white
    text-align: end
    font-size: 20px
    letter-spacing: 1px
  &__text
    margin-right: 60px
  &__about
    display: block
    margin-bottom: 20px
    font-size: 24px
    color: $white
  &__item
    margin-left: 25px
    color: $white
    &:not(:last-child)
      margin-bottom: 4px
    span
      font-size: 20px
      color: $white
  &__right
    max-width: 43%
    width: 100%
    perspective: 500px
    &:hover
      .bio__photo
        transform: rotateY(0)
  &__photo
    object-fit: cover
    width: 100%
    height: 100%
    border-radius: 10px
    transition: .5s transform
    transform: rotateY(-3deg)
