.contact
  padding: 80px 0
  overflow: hidden
  &__inner
    display: flex
    flex-direction: column
    align-items: center
  &__top
    width: 100%
    margin-bottom: 40px
    display: flex
    flex-direction: column
    align-items: center
    position: relative
  &__title
    margin-bottom: 40px
    font-size: 60px
    color: $white
    text-shadow: 1px 0px 20px #fff
    opacity: 0
    transform: translateY(50%)
    transition: .5s opacity, .5s transform
    &.fade-on
      opacity: 1
      transform: translateY(0)
  &__subtitle
    margin-bottom: 30px
    font-size: 32px
    color: $white
    opacity: 0
    transform: translateY(50%)
    transition: .5s opacity, .5s transform
    &.fade-on
      opacity: 1
      transform: translateY(0)
  &__items
    max-width: 500px
    width: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__link
    display: flex
    justify-content: space-between
    align-items: center
    opacity: 0
    transform: translateY(50%)
    transition: .5s opacity, .5s transform
    &.fade-on
      opacity: 1
      transform: translateY(0)
    &:nth-child(1)
      transition: .5s opacity .1s, .5s transform .1s
    &:nth-child(2)
      transition: .5s opacity .2s, .5s transform .2s
    &:nth-child(3)
      transition: .5s opacity .1s, .5s transform .1s
    &:nth-child(4)
      transition: .5s opacity .2s, .5s transform .2s
    &:nth-child(-n+2)
      margin-bottom: 10px
    &:hover
      .telegram
        path
          &:nth-child(1)
            fill: #29B6F6
            stroke: #29B6F6
      .whatsup
        path
          &:nth-child(2)
            fill: #40C351
      .contact__link-content
        &:after
          transform: scaleX(1)
  &__link-text
    margin-right: 10px
    font-size: 18px
    color: $white
  &__link-content
    font-size: 16px
    color: $cream
    transition: .5s color
    position: relative
    &:after
      content: ''
      width: 100%
      height: 1px
      background-color: $cream
      position: absolute
      left: 0
      bottom: -1px
      transition: .5s
      transform-origin: left
      transform: scaleX(0)
  &__icon
    width: 35px
    height: 35px
  .whatsup
    path
      &:nth-child(2)
        fill: transparent
        transition: .5s fill
  .telegram
    path
      &:nth-child(1)
        fill: transparent
        transition: .5s fill ,.5s stroke
  &__separation
    margin-bottom: 40px
    max-width: 600px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    opacity: 0
    transform: translateY(50%)
    transition: .5s opacity, .5s transform
    &.fade-on
      opacity: 1
      transform: translateY(0)
  &__or
    padding: 0 10px
    font-size: 20px
    color: $white
  &__line-left,
  &__line-right
    width: 10%
    height: 2px
    background-color: #fff
  &__bottom
    padding: 30px 50px 50px 50px
    display: flex
    flex-direction: column
    align-items: center
    background-color: #252934
    border-radius: 10px
    opacity: 0
    transform: translateY(50%)
    transition: .5s opacity, .5s transform
    &.fade-on
      opacity: 1
      transform: translateY(0)
  &__write
    margin-bottom: 30px
    display: block
    font-size: 20px
    color: $white
  .form
    width: 600px
    display: flex
    flex-direction: column
    align-items: center
    &__name
      margin-bottom: 20px
    &__email
      margin-bottom: 20px
    &__mess
      resize: none
    &__btn
      margin-top: 10px
      cursor: pointer
    &__field
      display: flex
      max-width: 500px
      width: 100%
