@import "vars"
@import "header"
@import "bio"
@import "skills"
@import "welcome"

*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  background-color: $dark-blue
  font-family: Akshar, sans-serif
  color: $white
  line-height: 1.3
  overflow: visible
  &.load
    overflow: hidden
a
  text-decoration: none

.container
  max-width: 1440px
  width: 100%
  padding: 0 60px
  margin: 0 auto
.bg
  width: 100%
  height: 100%
  position: fixed
  left: 0
  top: 0
  z-index: -1000
  filter: blur(10px)
  &__image
    width: 100%
    height: 100%
    object-fit: cover
